:root {
	--red: #E74C3C;
	--green: #2ECC71;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	display: grid;
	place-items: center;
}

ul#list {
	list-style-type: none;
	font-size: 32pt;
}

ul#list > li.active {
	color: var(--green);
}

ul#list > li.inactive {
	color: var(--red);
}

ul#list > li.unavail {
	color: var(--fg-color);
}

#help-btn {
	position: absolute;
	padding: 0.2em 0.32em;
	top: 15px;
	left: 15px;
}

#help-modal {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity 0.5s;
}

.modal-content {
	margin: 20% auto;
	padding: 1em;
	background-color: var(--bg-color);
	border: 1px solid var(--fg-color);
	border-radius: 12px;
	box-shadow: 0 0 15px 0 var(--fg-color);
	width: 420px;
	max-width: 80%;
	max-height: 60%;
}

@media (prefers-color-scheme: dark) {
	.modal-content {
		box-shadow: 0 0 15px 0 var(--fg-color);
	}
}

.modal-content .modal-close {
	font-size: 20pt;
	float: right;
	padding: 0 0.3em;
	margin: 1px;
}

.button {
	border: 1px solid var(--fg-color);
	border-radius: 8px;
	color: var(--fg-color);
	background-color: var(--bg-color);
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.button:hover {
	cursor: pointer;
	border: 1px solid var(--bg-color);
	color: var(--bg-color);
	background-color: var(--fg-color);
}

.text-color-red {
	color: var(--red);
}

.text-color-green {
	color: var(--green);
}

#help-modal .modal-content .text-color-red,
#help-modal .modal-content .text-color-green {
	font-weight: bold;
}
