html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	display: grid;
	place-items: center;
}

.light {
	background: #fff;
	color: rgba(0, 0, 0, 0.88);;
}

.dark {
	background: #1d1e20;
	color: rgba(255, 255, 255, 0.84);
}

#theme-button {
	position: fixed;
	cursor: pointer;
}

#theme-button > img {
	height: 100%;
	width: 100%;
}
