@import url('/global/fontawesome/css/all.min.css');

html, body, main#container {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #1d1e20;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, main#container, #canvas {
	overscroll-behavior: contain;
}

#pause-button {
	position: fixed;
	font-size: 1.5em;
	top: 15px;
	right: 15px;
	padding: 5px;
	color: rgba(255, 255, 255, 0.84);
	background: none;
	border: none;
	outline: none;
}

#pause-button:hover {
	cursor: pointer;
}

#score-label {
	position: fixed;
	font-size: 3em;
	top: 0;
	left: 5px;
	padding: 20px;
	color: rgba(255, 255, 255, 0.84);
	border: none;
	background: none;
}

main#container {
	display: grid;
	place-items: center;
}

#canvas {
	border: 1px solid rgba(255, 255, 255, 0.84);
	box-sizing: border-box;
}
