---
import LocalizedDate from "@/components/LocalizedDate.astro";
import { getNotesCollection } from "@/lib/content";
import { getCollection } from "astro:content";

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props;

const notes = await getNotesCollection();
---

<section id="notes" class="mx-auto my-8 max-w-screen-md p-8 text-lg *:mb-4">
    <h1 class={headingStyle}>Notes</h1>
    <p>
        Similar to blog posts, but with a different goal. My blog is written
        with a wide audience in mind; my notes are intended to be useful only to
        specific groups of people.
    </p>
    <p>
        At the time of writing (<LocalizedDate
            date={new Date("2026-01-13T10:05:43-05:00")}
            style="locale-short"
        />), my notes contain information for fellow Purdue Computer Science
        students.
    </p>
    <p>
        <a
            href="/notes/"
            class="text-accent font-medium decoration-2 hover:underline"
        >
            Browse {notes.length.toLocaleString()} note{
                notes.length === 1 ? "" : "s"
            }&nbsp;&nbsp;&RightArrow;
        </a>
    </p>
</section>
