---
import { Icon } from "astro-icon/components";
import PurdueHackersLogo from "../bits/PurdueHackersLogo.astro";
---

<div class="flex flex-row items-center gap-2">
    <a
        href="https://ring.purduehackers.com/prev"
        title="Previous site in Purdue Hackers webring"
    >
        <Icon name="fa7-solid:angle-left" class="size-6" />
    </a>
    <a
        href="https://ring.purduehackers.com/"
        title="Purdue Hackers webring"
        target="_blank"
    >
        <PurdueHackersLogo class="size-6" />
    </a>
    <a
        href="https://ring.purduehackers.com/next"
        title="Next site in Purdue Hackers webring"
    >
        <Icon name="fa7-solid:angle-right" class="size-6" />
    </a>
</div>
