@import url('/global/style/colors.css');
@import url('/global/fontawesome/css/all.min.css');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem;
}
@media (min-width: 1024px) {
	.container {
		max-width: 800px;
	}
}
@media (min-width: 1280px) {
	.container {
		margin: 0 0 0 15%;
	}
}

header {
	border-bottom: 1px solid #ffffff;
}

form {
	margin-top: 2rem;
}

form > div {
	margin-bottom: 2rem;
}

form input[type=number] {
	font-size: 12pt;
	padding: 0.5rem;
	background: transparent;
	border: 2px solid var(--fg-color);
	border-radius: 0.5rem;
	color: var(--fg-color);
	width: 6em;
}

form input[type=number].exp {
	width: 4em;
}

#formula {
	margin-top: 3rem;
}

.indent {
	padding-left: 2rem;
}

.error {
	color: #ff5555;
