---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

export type Props = HTMLAttributes<"div">;

const { class: className, ...restProps } = Astro.props;
---

<div
    class={twMerge("grid grid-cols-3 *:aspect-square", className)}
    role="img"
    aria-label="Purdue Hackers logo"
    {...restProps}
>
    <div class="invisible"></div>
    <div class="bg-[#FCD202]"></div>
    <div class="invisible"></div>
    <div class="invisible"></div>
    <div class="bg-[#FCD202]"></div>
    <div class="bg-[#FCD202]"></div>
    <div class="bg-[#FCD202]"></div>
    <div class="invisible"></div>
    <div class="bg-[#FCD202]"></div>
</div>
