@import "tailwindcss";

@theme {
    --color-purdue: #8e6f3e;
    --color-accent: color-mix(
        in oklab,
        var(--color-emerald-700) 80%,
        transparent
    );
}

@layer base {
    body {
        @apply bg-stone-100 text-stone-900;
    }
}
