@import "tailwindcss";

@theme {
    --color-purdue: #8e6f3e;
    --color-accent: color-mix(
        in oklab,
        var(--color-emerald-700) 80%,
        transparent
    );
    --color-primary: var(--color-stone-900);
    --color-secondary: var(--color-stone-400);
    --color-background: var(--color-stone-100);

    --font-default-sans:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans: "Raleway Variable", var(--font-default-sans);
}
