---
import ProjectCard from "../ProjectCard.astro";

import { SKIP_PROJECTS } from "astro:env/server";
import { getCollection } from "astro:content";

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props;

const projects = SKIP_PROJECTS ? [] : await getCollection("projects");
// Sort projects by ID (filename) in descending order
projects.sort((a, b) => b.id.localeCompare(a.id));
---

<section class="flex flex-col items-stretch lg:h-screen">
    <div id="projects" class="flex-none p-8">
        <a href="#projects"><h1 class={headingStyle}>Projects</h1></a>
        <p class="text-lg">A selection of my more notable projects.</p>
    </div>

    <div
        class="gutter inset-shadow-sm-even-tb flex flex-1 flex-col flex-nowrap items-center pt-0 lg:flex-row lg:items-end lg:gap-8 lg:overflow-x-auto lg:p-8"
    >
        {projects.map((project) => <ProjectCard {project} />)}
    </div>
</section>

<style>
    .gutter {
        --color-stripe: color-mix(
            in oklab,
            var(--color-stone-300) 25%,
            transparent
        );
        background: repeating-linear-gradient(
            -45deg,
            var(--color-background),
            var(--color-background) 2rem,
            var(--color-stripe) 2rem,
            var(--color-stripe) 4rem
        );
    }
</style>
