---
import ProjectCard from "../ProjectCard.astro";

import { getCollection } from "astro:content";

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props;
---

<section></section>
