---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactIcons from "../components/ContactIcons.astro";
import WebringLinks from "../components/WebringLinks.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import Affiliations from "../components/Affiliations.astro";
import GitHubContributions from "../components/GitHubContributions.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const headingStyle =
    "decoration-accent mb-4 text-3xl font-black underline decoration-4";

const headings = ["Projects", "Blog", "Work experience", "Other stuff"];
---

<BaseLayout title="Portfolio | Kian Kasad">
    {/* Container for first screenful of content */}
    <div class="flex min-h-screen flex-col justify-between">
        <Header />

        {
            /* Nameplate & about me section */
            /* Stacks vertically when screen is small; side-by-side when screen is large */
        }
        <div
            class="mx-auto mt-12 w-full px-8 md:px-16 xl:flex xl:flex-row xl:items-center xl:justify-evenly xl:gap-32"
        >
            <header class="flex-initial">
                <div class="text-xl font-bold">Hi, I'm</div>
                <div
                    class="flex flex-row items-center justify-between gap-2 sm:gap-8 md:gap-16 xl:justify-start"
                >
                    <!-- Left: Name plate & links -->
                    <div class="flex-2 drop-shadow-lg">
                        <div
                            class="mb-4 text-6xl font-black tracking-tight sm:text-8xl"
                        >
                            Kian<br />Kasad<span
                                class="text-accent font-default-sans">.</span
                            >
                        </div>
                    </div>

                    <!-- Right: profile picture -->
                    <div class="box-content max-w-56 min-w-30 flex-1">
                        <ProfilePicture />
                    </div>
                </div>
                <div class="mt-8 flex flex-row justify-between drop-shadow-sm">
                    <ContactIcons />
                    <WebringLinks />
                </div>
            </header>

            {/* About me */}
            <section class="mt-24 flex-initial text-2xl xl:mt-0 xl:max-w-sm">
                <h1 class={`${headingStyle} mb-4`}>About me</h1>
                <Affiliations />
            </section>
        </div>

        {/* GitHub contributions */}
        <section class="mt-16 flex-none xl:mt-0">
            <GitHubContributions />
        </section>

        {/* Heading links */}
        <aside
            class="bg-accent text-background mt-16 p-8 sm:px-16 sm:py-4 xl:mt-0"
        >
            <div
                class="mx-auto flex w-full max-w-screen-xl flex-col gap-x-16 gap-y-4 sm:flex-row sm:flex-wrap sm:justify-between"
            >
                {
                    headings.map((heading) => (
                        <a
                            href={`#${heading.toLowerCase().replaceAll(/[^a-z0-9]/g, "-")}`}
                            class={
                                headingStyle.replace("mb-4", "") +
                                " decoration-green-900 text-shadow-2xs text-shadow-green-900"
                            }
                        >
                            {heading}
                        </a>
                    ))
                }
            </div>
        </aside>
    </div>

    <Footer class="mt-24" />

    <script>
        // When a link targeting an element on the page is clicked, highlight
        // the page element temporarily

        const targetClasses = [
            "bg-transparent",
            "transition-colors",
            "duration-1000",
        ];
        const links = document.querySelectorAll(
            "a[data-highlight]",
        ) satisfies NodeListOf<HTMLAnchorElement>;
        links.forEach((link) => {
            const id = link.dataset["highlight"];
            const target = id ? document.getElementById(id) : undefined;
            if (!target)
                throw new Error(
                    `link target not found for data-highlight="${id}`,
                );
            targetClasses.forEach((clazz) => {
                target?.classList.add(clazz);
            });
            link.addEventListener("click", () => {
                target?.classList.replace("bg-transparent", "bg-highlight");
                setTimeout(() => {
                    target?.classList.replace("bg-highlight", "bg-transparent");
                }, 1500);
            });
        });
    </script>
</BaseLayout>
