---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactIcons from "../components/ContactIcons.astro";
import WebringLinks from "../components/WebringLinks.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import Affiliations from "../components/Affiliations.astro";
import GitHubContributions from "../components/GitHubContributions.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const headingStyle =
    "decoration-accent mb-4 text-3xl font-black underline tracking-tight decoration-4";
---

<BaseLayout title="Portfolio | Kian Kasad">
    {/* Container for first screenful of content */}
    <div class="flex min-h-screen flex-col justify-between">
        <Header />

        {
            /* Nameplate & about me section */
            /* Stacks vertically when screen is small; side-by-side when screen is large */
        }
        <div
            class="mx-auto mt-12 w-full px-8 md:px-16 xl:flex xl:flex-row xl:items-center xl:justify-evenly xl:gap-32"
        >
            <header class="flex-initial">
                <div class="text-xl font-bold">Hi, I'm</div>
                <div
                    class="flex flex-row items-center justify-between gap-2 sm:gap-8 md:gap-16 xl:justify-start"
                >
                    <!-- Left: Name plate & links -->
                    <div class="flex-2 drop-shadow-lg">
                        <div
                            class="mb-4 text-6xl font-black tracking-tight sm:text-8xl"
                        >
                            Kian<br />Kasad<span
                                class="text-accent font-default-sans">.</span
                            >
                        </div>
                    </div>

                    <!-- Right: profile picture -->
                    <div class="box-content max-w-56 min-w-30 flex-1">
                        <ProfilePicture />
                    </div>
                </div>
                <div class="mt-8 flex flex-row justify-between drop-shadow-sm">
                    <ContactIcons />
                    <WebringLinks />
                </div>
            </header>

            {/* About me */}
            <h1 class={headingStyle}>About me</h1>
            <section class="mt-24 flex-initial text-2xl xl:mt-0 xl:max-w-sm">
                <Affiliations />
            </section>
        </div>

        <section class="mt-24 flex-none">
            <GitHubContributions />
        </section>
    </div>

    <Footer class="mt-24" />
</BaseLayout>
