---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactIcons from "../components/ContactIcons.astro";
import WebringLinks from "../components/WebringLinks.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import Affiliations from "../components/Affiliations.astro";
import GitHubContributions from "../components/GitHubContributions.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import { SEO } from "astro-seo";

const headingStyle =
    "decoration-accent mb-4 text-3xl font-black underline decoration-4";

const headings = [
    ["Projects", "#projects"],
    ["Blog", "/blog"],
    // ["Work experience", "#work-experience"],
    // ["Other stuff", "#"],
    ["More coming soon...", null],
];
---

<BaseLayout>
    <SEO
        slot="head"
        title="Portfolio | Kian Kasad"
        description="My portfolio, blog, and maybe other things at some point."
        openGraph={{
            basic: {
                title: "Kian Kasad",
                type: "website",
                image: new URL(
                    "/assets/laptoppfp2-offwhite-cropped-small.png",
                    Astro.url,
                ).href,
            },
            image: {
                url: new URL(
                    "/assets/laptoppfp2-offwhite-cropped-small.png",
                    Astro.url,
                ).href,
                height: 600,
                width: 600,
                type: "image/png",
                alt: "Profile picture of a cartoon frog typing on a laptop",
            },
            optional: {
                description:
                    "My portfolio, blog, and maybe other things at some point.",
            },
        }}
        twitter={{
            title: "Kian Kasad",
            image: new URL(
                "/assets/laptoppfp2-offwhite-cropped-small.png",
                Astro.url,
            ).href,
            imageAlt: "Profile picture of a cartoon frog typing on a laptop",
        }}
    />

    {/* Container for first screenful of content */}
    <div class="flex min-h-screen flex-col justify-between gap-4">
        <Header />

        {
            /* Nameplate & about me section */
            /* Stacks vertically when screen is small; side-by-side when screen is large */
        }
        <div
            class="mx-auto mt-12 w-full px-8 md:px-16 xl:mt-0 xl:flex xl:flex-row xl:items-center xl:justify-evenly xl:gap-32"
        >
            <header class="flex-initial">
                <div class="text-xl font-bold">Hi, I'm</div>
                <div
                    class="flex flex-row items-center justify-between gap-2 sm:gap-8 md:gap-16 xl:justify-start"
                >
                    <!-- Left: Name plate & links -->
                    <div class="flex-2 drop-shadow-lg">
                        <div
                            class="mb-4 text-6xl font-black tracking-tight sm:text-8xl"
                        >
                            Kian<br />Kasad<span
                                class="text-accent font-default-sans">.</span
                            >
                        </div>
                    </div>

                    <!-- Right: profile picture -->
                    <div class="box-content max-w-56 min-w-30 flex-1">
                        <ProfilePicture />
                    </div>
                </div>
                <div class="mt-8 flex flex-row justify-between drop-shadow-sm">
                    <ContactIcons />
                    <WebringLinks />
                </div>
            </header>

            {/* About me */}
            <section class="mt-24 flex-initial text-2xl xl:mt-0 xl:max-w-sm">
                <h1 class={`${headingStyle} mb-4`}>About me</h1>
                <Affiliations />
            </section>
        </div>

        {/* GitHub contributions */}
        <section class="mt-16 flex-none xl:mt-0">
            <GitHubContributions />
        </section>

        {/* Heading links */}
        <nav
            class="bg-accent text-background mt-16 p-8 sm:px-16 sm:py-4 xl:mt-0"
        >
            <div
                class="mx-auto flex w-full max-w-screen-xl flex-col gap-x-16 gap-y-4 sm:flex-row sm:flex-wrap sm:justify-between"
            >
                {
                    headings.map(([name, href]) => {
                        return (
                            <a
                                href={href}
                                aria-disabled={href === null}
                                class:list={[
                                    headingStyle.replace("mb-4", ""),
                                    "decoration-green-900 text-shadow-2xs text-shadow-green-900",
                                    href === null &&
                                        "cursor-not-allowed opacity-60",
                                ]}
                                data-highlight
                            >
                                {name}
                            </a>
                        );
                    })
                }
            </div>
        </nav>
    </div>

    <ProjectsSection {headingStyle} />

    <Footer class="mt-24" />
</BaseLayout>
