---
import { Icon } from "astro-icon/components";
---

<div>
    <div class="flex w-full flex-col items-stretch gap-6 leading-[1.15]">
        <div class="flex flex-row items-center gap-8">
            <div class="text-purdue flex-auto font-bold">CS @ Purdue</div>
            <div class="flex-initial text-right text-base">2023&ndash;2027</div>
        </div>
        <div class="flex flex-row items-center gap-8">
            <div class="flex-auto font-bold">
                Linux Engineer intern
                <span class="sr-only">@</span>
                <span class="whitespace-nowrap"
                    ><Icon
                        name="janestreet"
                        class="mb-1 inline align-middle"
                        desc="Jane Street logo"
                    />&nbsp;Jane</span
                > Street
            </div>
            <div class="flex-initial text-right text-base">Summer 2026</div>
        </div>
        <div class="flex flex-row items-center gap-8">
            <div class="flex-auto font-bold">Open source developer</div>
            <div class="flex-initial text-right text-base">In my free time</div>
        </div>
    </div>
</div>
