---
import { Icon } from "astro-icon/components";
---

<div>
    <div class="flex w-full flex-col items-stretch gap-6 leading-[1.15]">
        <div class="flex flex-row items-center gap-8">
            <div class="text-purdue flex-auto font-bold">
                <abbr
                    title="Computer Science"
                    class="cursor-default no-underline decoration-dotted hover:underline"
                    >CS</abbr
                > @ Purdue
            </div>
            <div
                class="text-secondary flex-initial text-right text-lg font-medium"
            >
                2023&ndash;2027
            </div>
        </div>
        <div class="flex flex-row items-center gap-8">
            <div class="flex-auto font-bold">
                Linux Engineer intern
                <span class="sr-only">@</span>
                <span class="whitespace-nowrap"
                    ><Icon
                        name="janestreet"
                        class="mb-1 inline align-middle"
                        desc="Jane Street logo"
                    />&nbsp;Jane</span
                > Street
            </div>
            <div
                class="text-secondary flex-initial text-right text-lg font-medium"
            >
                Summer 2026
            </div>
        </div>
        <div class="flex flex-row items-center gap-8">
            <div class="flex-auto font-bold">
                <a href="#github-calendar" data-highlight="github-calendar">
                    Open source developer
                </a>
            </div>
            <div
                class="text-secondary flex-initial text-right text-lg font-medium"
            >
                In my free time
            </div>
        </div>
    </div>
</div>
