---
import { Icon } from "astro-icon/components";

type Style = "note" | "warning";
export interface Props {
    style: Style;
    title?: string;
}

const { style, title } = Astro.props;

interface StyleInfo {
    classes: string;
    label: string;
    icon: string;
}
const STYLES: Record<Style, StyleInfo> = {
    note: {
        classes: "bg-sky-300/30 border-sky-400",
        label: "Note",
        icon: "fa7-solid:info-circle",
    },
    warning: {
        classes: "bg-amber-300/30 border-amber-400",
        label: "Warning",
        icon: "fa7-solid:warning",
    },
};
const info = STYLES[style];
---

<aside
    role="note"
    aria-label={info.label}
    class:list={[
        "prose-p:my-2 prose-p:last:mb-0 prose-base my-8 rounded-md border p-4 leading-normal",
        info.classes,
    ]}
>
    <div class="mb-1 font-bold">
        <Icon name={info.icon} class="me-1 inline align-middle" />
        {title ?? info.label}
    </div>
    <slot />
</aside>
