---
import { Icon } from "astro-icon/components";
---

<footer class="p-4 text-sm">
    <div class="flex justify-between">
        <a
            class="cursor-pointer underline"
            href="https://github.com/kdkasad/website"
        >
            Made with
            <Icon name="devicon:astro" class="inline" desc="Astro logo" />
            <span class="sr-only">Astro</span>
            by me.
        </a>
        <div class="text-gray-700">Copyright &copy; 2025 Kian Kasad</div>
    </div>
</footer>
