---

---

<header class="w-full">
    <div
        class="mx-auto box-content flex h-4 max-w-screen-xl flex-row items-center justify-between p-4"
    >
        <!-- Left block -->
        <a href="/" class="font-bold"> kasad.com </a>

        <!-- Navigation menu -->
        <div class="text-sm text-gray-700">
            <menu class="hidden flex-row gap-4 sm:flex">
                <li>About</li>
                <li>Blog</li>
                <li>Projects</li>
                <li>Work</li>
            </menu>
        </div>
    </div>
</header>
