---
type NavItem = { path: string; name: string };
const navItems: NavItem[] = [
    { name: "Home", path: "/" },
    { name: "Blog", path: "/blog" },
];

const boldNavItemPath = navItems
    .map(({ path }) => path)
    .filter((path) => Astro.url.pathname.startsWith(path))
    .toSorted((a, b) => b.length - a.length)[0];
---

<header class="w-full">
    <div
        class="mx-auto box-content flex h-4 max-w-screen-xl flex-row items-center justify-between p-4"
    >
        <!-- Left block -->
        <a href="/" class="font-bold"> kasad.com </a>

        <!-- Navigation menu -->
        <nav class="text-sm">
            <menu class="hidden flex-row gap-4 sm:flex">
                {
                    navItems.map(({ path, name }) => (
                        <li class={path == boldNavItemPath ? "font-bold" : ""}>
                            <a href={path}>{name}</a>
                        </li>
                    ))
                }
            </menu>
        </nav>
    </div>
</header>
