---
type NavItem = { path: string; name: string };
const navItems: NavItem[] = [
    { name: "Home", path: "/" },
    { name: "Blog", path: "/blog" },
];
---

<header class="w-full">
    <div
        class="mx-auto box-content flex h-4 max-w-screen-xl flex-row items-center justify-between p-4"
    >
        <!-- Left block -->
        <a href="/" class="font-bold"> kasad.com </a>

        <!-- Navigation menu -->
        <nav class="text-sm text-gray-700">
            <menu class="hidden flex-row gap-4 sm:flex">
                {
                    navItems.map(({ path, name }) => (
                        <li
                            class={
                                Astro.url.pathname === path ? "font-bold" : ""
                            }
                        >
                            <a href={path}>{name}</a>
                        </li>
                    ))
                }
            </menu>
        </nav>
    </div>
</header>
