---
import { Icon } from "astro-icon/components";

type NavItem = { path: string; name: string };
const navItems: NavItem[] = [
    { name: "Home", path: "/" },
    { name: "Blog", path: "/blog" },
];

const boldNavItemPath = navItems
    .map(({ path }) => path)
    .filter((path) => Astro.url.pathname.startsWith(path))
    .toSorted((a, b) => b.length - a.length)[0];
---

<header class="w-full">
    <div
        class="mx-auto box-content flex h-4 max-w-screen-xl flex-row items-center justify-between p-4"
    >
        {/* Left block */}
        <a href="/" class="font-bold"> kasad.com </a>

        {/* Navigation menu */}
        <nav class="text-sm">
            {/* Non-hamburger menu */}
            <menu class="flex flex-row gap-4 max-sm:hidden">
                {
                    navItems.map(({ path, name }) => (
                        <li class={path == boldNavItemPath ? "font-bold" : ""}>
                            <a href={path}>{name}</a>
                        </li>
                    ))
                }
            </menu>

            {/* Hamburger menu */}
            <details
                id="hamburger"
                class="peer group open:bg-background open:text-primary hidden open:fixed open:top-0 open:right-0 open:bottom-0 open:z-20 open:w-80 open:max-w-dvh open:p-4 open:text-base open:shadow-lg max-sm:block"
            >
                <summary class="inline cursor-pointer">
                    <Icon
                        name="fa7-solid:bars"
                        class="inline group-open:hidden"
                        role="button"
                        aria-label="Open navigation menu"
                    />
                    <Icon
                        name="fa7-solid:close"
                        class="hidden group-open:inline"
                        role="button"
                        aria-label="Close navigation menu"
                    />
                </summary>

                <menu class="mt-8 flex flex-col gap-4">
                    {
                        navItems.map(({ path, name }) => (
                            <li
                                class={
                                    path == boldNavItemPath ? "font-bold" : ""
                                }
                            >
                                <a href={path}>{name}</a>
                            </li>
                        ))
                    }
                </menu>
            </details>
            {/* Hamburger backdrop */}
            <div
                id="backdrop"
                class="bg-primary fixed inset-0 z-10 hidden opacity-50 peer-open:block"
            >
            </div>
        </nav>
    </div>
</header>

<script>
    const backdrop = document.getElementById(
        "backdrop",
    ) as HTMLDivElement | null;
    const hamburger = document.getElementById(
        "hamburger",
    ) as HTMLDetailsElement | null;

    // Clicking on the backdrop closes the menu
    backdrop?.addEventListener("click", () => {
        if (hamburger) {
            hamburger.open = false;
        }
    });

    // Set overflow: hidden; on body when hamburger is opened to prevent
    // scrolling behind the popup
    hamburger?.addEventListener("toggle", () => {
        if (hamburger.open) {
            document.body.style.overflow = "hidden";
        } else {
            document.body.style.overflow = "auto";
        }
    });
</script>
