---
import { Picture } from "astro:assets";
import profilePic from "@/images/laptoppfp2-offwhite-cropped-small.png";

const borderClasses = {
    thin: "border-2",
    thick: "border-8",
};

export interface Props {
    border?: keyof typeof borderClasses;
}

const border = borderClasses[Astro.props.border ?? "thick"];
---

<div
    class={`aspect-square size-full flex-none overflow-hidden rounded-full ${border} border-accent shadow-lg`}
>
    {/* Placeholder until profile picture is ready */}
    <Picture
        formats={["avif", "webp", "png"]}
        src={profilePic}
        title="Profile picture"
        alt="Cartoon frog typing on a laptop with a mug of coffee nearby"
        class="h-full object-cover object-center"
    />
</div>
