---
import "../styles/global.css";

import "@fontsource-variable/raleway";

import PageSEO from "../components/PageSEO.astro";
import { type Props as PageSEOProps } from "../components/PageSEO.astro";

export interface Props extends PageSEOProps {
    extraBodyClasses?: string;
}

const { extraBodyClasses = "", ...seoProps } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <PageSEO {...seoProps} />
        <slot name="head" />
    </head>
    <body class={`bg-background text-primary ${extraBodyClasses}`}>
        <slot />
    </body>
</html>
