---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <slot name="head" />
    </head>
    <body class="flex min-h-dvh flex-col">
        <Header />
        <div class="grow p-8">
            <slot />
        </div>
        <Footer class="mt-24" />
    </body>
</html>
