---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { type Props as BaseLayoutProps } from "./BaseLayout.astro";

export interface Props extends BaseLayoutProps {}

const { ...baseLayoutProps } = Astro.props;
---

<BaseLayout {...baseLayoutProps}>
    <slot slot="head" name="head" />

    <div class="flex min-h-screen flex-col">
        <Header />
        <div class="mx-auto w-full max-w-screen-xl flex-grow p-8">
            <slot />
        </div>
        <Footer />
    </div>
</BaseLayout>
