@import url('/global/style/colors.css');

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--bg-color);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	color: var(--fg-color);
}

header {
	max-width: 70%;
	padding: 0.25em;
	margin: 1em;
	border-bottom: 1px solid var(--fg-color);
}

header > h1 {
	display: inline;
}

ul {
	font-size: 200%;
	list-style-type: none;
}

li {
	color: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	box-shadow: 0 1px 0 var(--fg-color);
}

.item:hover {
	cursor: pointer;
}
