html, body, main {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 8px 0 darkgray;
	background-color: var(--bg-color);
}
@media (prefers-color-scheme: dark) {
	header {
		box-shadow: 0 0px 8px 0px #040404;
	}
}

#canvas-wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

input#equation-box {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: none;
	border: 1px solid transparent;
	border-bottom: 1px solid var(--fg-color);
	border-radius: 3px;
	color: var(--fg-color);
	outline: none;
	padding: 0.5em;
	box-sizing: border-box;
	transition: border 0.6s;
	font-size: 15px;
}
input#equation-box:focus {
	border: 1px solid var(--fg-color);
}

button#submit-equation-button {
	background: none;
	color: var(--fg-color);
	border: 1px solid var(--fg-color);
	border-radius: 3px;
	padding: 0.5em;
	font-size: 15px;
	transition: background-color 0.5s, color 0.5s;
}
button#submit-equation-button:hover {
	color: var(--bg-color);
	background-color: var(--fg-color);
	cursor: pointer;
}

input#interpolation-slider {
	vertical-align: middle;
}

header > div {
	margin: 0.3em;
}
