name: CI

on:
  push: {}
  pull_request: {}

env:
  BASE_URL: ${{ vars.BASE_URL }}

jobs:
  prettier:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v6

      - name: Set up project
        uses: ./.github/actions/setup-project

      - name: Run Prettier
        run: bun run check::fmt

  build:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v6

      - name: Set up project
        uses: ./.github/actions/setup-project
        with:
          dev: false

      - name: Build site
        run: bun run build
        env:
          GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}

      - name: Upload static files as artifact
        id: upload-build
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/

  deploy:
    name: Deploy site
    needs: build
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    concurrency:
      group: ${{ github.workflow }}-deploy
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
        with:
          timeout: 30000 # 30 seconds
